QWidget {
		background-color: #1e1e1e;
		border: 1px solid #1e1e1e;
		border-radius: 10px;
}

QGroupBox {
		color: #c9c9c9;
		border: 1px solid #1e1e1e;
		padding-top: 13px
}

QLabel {
		font-size: 11pt;
		color: white;
}


QPushButton {
		padding: 5px;
		color: white;
		text-align: left;
		background-color: transparent;
}

QPushButton:hover {
		background-color: #5076B2;
}



QPushButton#closeButton, QPushButton#minimizeButton, QPushButton#appLogo {
		background-color: transparent;
		text-align: center;
}

QPushButton#closeButton:hover {
	icon: url(:/resources/ui/close_button_light_gray.png);
}

QPushButton#minimizeButton:hover {
	icon: url(:/resources/ui/minimize_button_light_gray.png);
}