QWidget {
		background-color: #f0f0f0;
		border: 1px solid #f0f0f0;
		border-radius: 10px;
}

QGroupBox {
		color: black;
		border: 1px solid #f0f0f0;
		padding-top: 13px
}

QLabel {
		font-size: 11pt;
		color: black;
}


QPushButton {
		padding: 5px;
		color: black;
		text-align: left;
		background-color: transparent;
}

QPushButton:hover {
		background-color: #5076B2;
		color: white;
}



QPushButton#closeButton, QPushButton#minimizeButton, QPushButton#appLogo {
		background-color: transparent;
		text-align: center;
}

QPushButton#closeButton:hover {
	icon: url(:/resources/ui/close_button_gray.png);
}

QPushButton#minimizeButton:hover {
	icon: url(:/resources/ui/minimize_button_gray.png);
}