/* Кнопки меню (File, Edit, etc.) */
QMenuBar {
		/* background-color: #232323;
		color: #c9c9c9; */
		border: 1px solid #232323;
}

QMenuBar::item::selected, QMenuBar::item::hover {
		/* background-color: #5076B2; */
		border: 1px solid #5076B2;
		border-radius: 5px;
}



/* Выпадающие из меню списки и их кнопки */
QMenu {
		/* background: rgba(35, 35, 35, 128);
		color: #c9c9c9; */
		border: 1px solid red;
		border-bottom-left-radius: 25px;
		border-bottom-right-radius: 25px;
		padding: 5px;           
}

QMenu::item::selected, QMenu::item::hover {
		/* background-color: #5076B2; */
}



/* Кнопки изменения режима работы с кадром */
QPushButton#pushBtnViewMode, QPushButton#pushBtnDrawMode, QPushButton#pushBtnEditMode  {
	/* background-color: #232323; */
	border: 1px solid #c9c9c9;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

QPushButton#pushBtnViewMode:hover, QPushButton#pushBtnDrawMode:hover, QPushButton#pushBtnEditMode:hover,
QPushButton#pushBtnViewMode:enabled, QPushButton#pushBtnDrawMode:enabled, QPushButton#pushBtnEditMode:enabled  {
	/* background-color: #5076B2; */
}


QTabBar::tab {
    /* background-color: #232323;
	color: #c9c9c9; */
    border: 1px solid #c9c9c9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 2px;
}

QTabBar::tab:selected, QTabBar::tab:hover {
    /* background: #5076B2;  */
}

QTabBar::tab:selected {
   /*  border-color: #5379B5;
    border-bottom-color: #C2C7CB; */ /* same as pane color */
}

QTabBar::tab:!selected {
    margin-top: 2px; /* make non-selected tabs look smaller */
}





QSlider::groove:horizontal { 
	/* background-color: black; */
	border: 0px solid #424242; 
	height: 10px; 
	border-radius: 4px;
}

QSlider::handle:horizontal { 
	/* background-color: red; */
	border: 2px solid red; 
	width: 16px; 
	height: 20px; 
	line-height: 20px; 
	margin-top: -5px; 
	margin-bottom: -5px; 
	border-radius: 10px; 
}

QSlider::handle:horizontal:hover { 
	border-radius: 10px;
}
